<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eason.transfer.openapi.zb.api.app.dao.mapper.UserDeviceInfoMapper">

	<!--新增设备id -->
	<insert id="insertUserDeviceInfo" parameterType="com.eason.transfer.openapi.zb.api.app.dao.entity.UserDeviceInfoPo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `user_device_info` (
		  `user_id`,
		  `name`,
		  `last_login_time`,
		  `register_id`,
		  `equipment_id`,
		  `time`,
		  `osversion`,
		  `create_time`,
		  `update_time`,
		  `is_deleted`
		) 
		VALUES
		  (
		    #{userId},
		    #{name},
		    now(),
		    #{registerId},
		    #{equipmentId},
		    time+1,
		    #{osversion},
		    now(),
		    #{updateTime},
		    0
		  ) 
	</insert>
		
	<!-- 根据主键更新设备 -->
	<update id="updateUserDeviceByPo" parameterType="com.eason.transfer.openapi.zb.api.app.dao.entity.UserDeviceInfoPo">
		update 	user_device_info
		set 
			last_login_time = now(),
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="registerId != null">
				register_id = #{registerId},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="equipmentId != null">
				equipment_id = #{equipmentId},
			</if>
			<if test="time != null">
				time = #{time}+1,
			</if>
			<if test="osversion != null">
				osversion = #{osversion},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted}
			</if>
		where id = #{id}
	</update>
	<!-- 根据主键更新设备 -->
	<update id="updateUserDeviceByClear" parameterType="com.eason.transfer.openapi.zb.api.app.dao.entity.UserDeviceInfoPo">
		update 	user_device_info
		set 
			last_login_time = now(),
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			 register_id=null, equipment_id=null
		where register_id = #{registerId} and equipment_id = #{equipmentId}
	</update>
	<!--查询设备id -->
	<select id="getUserDeviceByPo" parameterType="com.eason.transfer.openapi.zb.api.app.dao.entity.UserDeviceInfoPo" resultType="com.eason.transfer.openapi.zb.api.app.dao.entity.UserDeviceInfoPo">
		SELECT 
		  `id`,
		  `user_id` as userId,
		  `name`,
		  `last_login_time` as lastLoginTime,
		  `register_id` as registerId,
		  `equipment_id` as equipmentId,
		  `time`,
		  `osversion`,
		  `create_time` as createTime,
		  `update_time` as updateTime,
		  `is_deleted` as  isDeleted
		FROM
		  `user_device_info` 
		<where>
			 is_deleted = 0
			<if test="userId != null">
				 AND user_id=#{userId}
			</if>
			<if test="registerId != null">
				 AND register_id=#{registerId}
			</if>
			<if test="equipmentId != null">
				 AND equipment_id=#{equipmentId}
			</if>
		</where>	
		LIMIT 1;
	</select>
</mapper>