<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eason.transfer.openapi.core.api.dao.mapper.OoApiMethodCategoryMapper">

	<resultMap id="OoApiMethodCategoryBaseResult" type="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodCategoryModel">
    	<result column="ID" property="id"/>
    	<result column="CATE_EN_NAME" property="cateEnName"/>
    	<result column="CATE_CN_NAME" property="cateCnName"/>
    	<result column="CATE_DESCRIPTION" property="cateDescription"/>
    	<result column="IS_DELETED" property="isDeleted"/>
	</resultMap>
	
	<!-- 请在此添加自定义方法（开始） -->
	<!-- 请在此添加自定义方法（结束） -->
	
	<select id="getObjectById" parameterType="Long" resultMap="OoApiMethodCategoryBaseResult" >
		SELECT ID,CATE_EN_NAME,CATE_CN_NAME,CATE_DESCRIPTION,IS_DELETED FROM API_METHOD_CATEGORY WHERE ID = #{id}
	</select>
	
	<select id="getObjectByModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodCategoryModel" resultMap="OoApiMethodCategoryBaseResult" >
		SELECT ID,CATE_EN_NAME,CATE_CN_NAME,CATE_DESCRIPTION,IS_DELETED 
		FROM API_METHOD_CATEGORY 
		<where>
			<if test="id != null">
				AND ID = #{id}
			</if>
			<if test="cateEnName != null">
				AND CATE_EN_NAME = #{cateEnName}
			</if>
			<if test="cateCnName != null">
				AND CATE_CN_NAME = #{cateCnName}
			</if>
			<if test="cateDescription != null">
				AND CATE_DESCRIPTION = #{cateDescription}
			</if>
			<if test="isDeleted != null">
				AND IS_DELETED = #{isDeleted}
			</if>
		</where>	
	</select>
	
	<select id="getListByModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodCategoryModel" resultMap="OoApiMethodCategoryBaseResult" >
		SELECT ID,CATE_EN_NAME,CATE_CN_NAME,CATE_DESCRIPTION,IS_DELETED 
		FROM API_METHOD_CATEGORY 
		<where>
			<if test="id != null">
				AND ID = #{id}
			</if>
			<if test="cateEnName != null">
				AND CATE_EN_NAME = #{cateEnName}
			</if>
			<if test="cateCnName != null">
				AND CATE_CN_NAME = #{cateCnName}
			</if>
			<if test="cateDescription != null">
				AND CATE_DESCRIPTION = #{cateDescription}
			</if>
			<if test="isDeleted != null">
				AND IS_DELETED = #{isDeleted}
			</if>
		</where>	
	</select>
	
	<insert id="insertModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodCategoryModel">
		INSERT INTO API_METHOD_CATEGORY(
				ID,
				CATE_EN_NAME,
				CATE_CN_NAME,
				CATE_DESCRIPTION,
				IS_DELETED
			) VALUES ( 
				#{id},
				#{cateEnName},
				#{cateCnName},
				#{cateDescription},
				#{isDeleted}
			)
	</insert>

	<update id="updateModelById" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodCategoryModel">
		UPDATE 
			API_METHOD_CATEGORY
		<set>
			<if test="cateEnName != null">
				CATE_EN_NAME = #{cateEnName},
			</if>
			<if test="cateCnName != null">
				CATE_CN_NAME = #{cateCnName},
			</if>
			<if test="cateDescription != null">
				CATE_DESCRIPTION = #{cateDescription},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted}
			</if>
		</set>
		WHERE 
			ID = #{id}
	</update>

	<delete id="deleteById" parameterType="Long" >
		DELETE FROM API_METHOD_CATEGORY WHERE ID = #{id}
	</delete>
	
</mapper>