<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eason.transfer.openapi.core.api.dao.mapper.OoAppInfoMapper">

    <resultMap id="OoAppInfoBaseResult" type="com.eason.transfer.openapi.core.api.dao.model.OoAppInfoModel">
        <result column="ID" property="id"/>
        <result column="APP_NAME" property="appName"/>
        <result column="APP_KEY" property="appKey"/>
        <result column="APP_SECRET" property="appSecret"/>
        <result column="APP_USER_TABLE" property="appUserTable"/>
        <result column="IS_DELETED" property="isDeleted"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="LOWEST_VERSION" property="lowestVersion"/>
    </resultMap>

    <resultMap type="com.eason.transfer.openapi.core.api.dao.model.AppInfo" id="AppInfoResult">
        <id column="ID" property="id"/>
        <result column="APP_NAME" property="appName"/>
        <result column="APP_USER_TABLE" property="appUserTable"/>
        <result column="APP_KEY" property="appKey"/>
        <result column="APP_SECRET" property="appSecret"/>
    </resultMap>

    <!-- 请在此添加自定义方法（开始） -->

    <select id="getAppinfoList" resultMap="AppInfoResult">
        select
        ID, APP_NAME, APP_KEY, APP_SECRET, APP_USER_TABLE
        from
        APP_INFO
    </select>

    <!-- 请在此添加自定义方法（结束） -->

    <select id="getObjectById" parameterType="Long" resultMap="OoAppInfoBaseResult">
        SELECT ID,APP_NAME,APP_KEY,APP_SECRET,IS_DELETED,CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY,LOWEST_VERSION FROM
        APP_INFO WHERE ID = #{id}
    </select>

    <select id="getObjectByModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoAppInfoModel"
            resultMap="OoAppInfoBaseResult">
        SELECT ID,APP_NAME,APP_KEY,APP_SECRET,IS_DELETED,CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY,LOWEST_VERSION
        FROM APP_INFO
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="appName != null">
                AND APP_NAME = #{appName}
            </if>
            <if test="appKey != null">
                AND APP_KEY = #{appKey}
            </if>
            <if test="appSecret != null">
                AND APP_SECRET = #{appSecret}
            </if>
            <if test="isDeleted != null">
                AND IS_DELETED = #{isDeleted}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime}
            </if>
            <if test="createBy != null">
                AND CREATE_BY = #{createBy}
            </if>
            <if test="updateBy != null">
                AND UPDATE_BY = #{updateBy}
            </if>
        </where>
    </select>

    <select id="getListByModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoAppInfoModel"
            resultMap="OoAppInfoBaseResult">
        SELECT ID,APP_NAME,APP_KEY,APP_SECRET,IS_DELETED,CREATE_TIME,UPDATE_TIME,CREATE_BY,UPDATE_BY,LOWEST_VERSION
        FROM APP_INFO
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="appName != null">
                AND APP_NAME = #{appName}
            </if>
            <if test="appKey != null">
                AND APP_KEY = #{appKey}
            </if>
            <if test="appSecret != null">
                AND APP_SECRET = #{appSecret}
            </if>
            <if test="isDeleted != null">
                AND IS_DELETED = #{isDeleted}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime}
            </if>
            <if test="createBy != null">
                AND CREATE_BY = #{createBy}
            </if>
            <if test="updateBy != null">
                AND UPDATE_BY = #{updateBy}
            </if>
        </where>
    </select>

    <insert id="insertModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoAppInfoModel">
        INSERT INTO APP_INFO(
        ID,
        APP_NAME,
        APP_KEY,
        APP_SECRET,
        IS_DELETED,
        CREATE_TIME,
        UPDATE_TIME,
        CREATE_BY,
        UPDATE_BY
        ) VALUES (
        #{id},
        #{appName},
        #{appKey},
        #{appSecret},
        #{isDeleted},
        #{createTime},
        #{updateTime},
        #{createBy},
        #{updateBy}
        )
    </insert>

    <update id="updateModelById" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoAppInfoModel">
        UPDATE
        APP_INFO
        <set>
            <if test="appName != null">
                APP_NAME = #{appName},
            </if>
            <if test="appKey != null">
                APP_KEY = #{appKey},
            </if>
            <if test="appSecret != null">
                APP_SECRET = #{appSecret},
            </if>
            <if test="isDeleted != null">
                IS_DELETED = #{isDeleted},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy},
            </if>
            <if test="lowestVersion != null">
                LOWEST_VERSION = #{lowestVersion}
            </if>
        </set>
        WHERE
        ID = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM APP_INFO WHERE ID = #{id}
    </delete>

</mapper>