<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eason.transfer.openapi.core.api.dao.mapper.OoApiMethodMapper">

    <resultMap id="OoApiMethodBaseResult" type="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodModel">
        <result column="ID" property="id"/>
        <result column="METHOD_TYPE" property="methodType"/>
        <result column="METHOD" property="method"/>
        <result column="METHOD_NAME" property="methodName"/>
        <result column="METHOD_MEMO" property="methodMemo"/>
        <result column="INVOKE_MIN_MAX_NUM" property="invokeMinMaxNum"/>
        <result column="INVOKE_DAY_MAX_NUM" property="invokeDayMaxNum"/>
        <result column="AUTH_LEVEL" property="authLevel"/>
        <result column="IS_UPDATED" property="isUpdated"/>
        <result column="XML_RESULT" property="xmlResult"/>
        <result column="JSON_RESULT" property="jsonResult"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="IS_EXTRAS" property="isExtras"/>
        <result column="IS_OPEN" property="isOpen"/>
        <result column="VER" property="methodVer"/>
        <result column="CFG_VALUE" property="methodCfg"/>

    </resultMap>


    <!-- 请在此添加自定义方法（开始） -->

    <select id="getApiMethodInfoList" resultMap="OoApiMethodBaseResult">
        select
        METHOD.ID, METHOD, METHOD_TYPE, METHOD_NAME, AUTH_LEVEL, IS_OPEN, CFG.VER, CFG.CFG_VALUE
        from
        API_METHOD METHOD
        LEFT JOIN
        API_METHOD_CFG CFG
        ON METHOD.ID = CFG.METHOD_ID
    </select>

    <!-- 请在此添加自定义方法（结束） -->

    <select id="getObjectById" parameterType="Long" resultMap="OoApiMethodBaseResult">
        SELECT
        ID,METHOD_TYPE,METHOD,METHOD_NAME,METHOD_MEMO,INVOKE_MIN_MAX_NUM,INVOKE_DAY_MAX_NUM,AUTH_LEVEL,IS_UPDATED,XML_RESULT,JSON_RESULT,CREATE_TIME,UPDATE_TIME,UPDATE_BY,CREATE_BY,IS_EXTRAS,IS_OPEN
        FROM API_METHOD WHERE ID = #{id}
    </select>

    <select id="getObjectByModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodModel"
            resultMap="OoApiMethodBaseResult">
        SELECT
        ID,METHOD_TYPE,METHOD,METHOD_NAME,METHOD_MEMO,INVOKE_MIN_MAX_NUM,INVOKE_DAY_MAX_NUM,AUTH_LEVEL,IS_UPDATED,XML_RESULT,JSON_RESULT,CREATE_TIME,UPDATE_TIME,UPDATE_BY,CREATE_BY,IS_EXTRAS,IS_OPEN
        FROM API_METHOD
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="methodType != null">
                AND METHOD_TYPE = #{methodType}
            </if>
            <if test="method != null">
                AND METHOD = #{method}
            </if>
            <if test="methodName != null">
                AND METHOD_NAME = #{methodName}
            </if>
            <if test="methodMemo != null">
                AND METHOD_MEMO = #{methodMemo}
            </if>
            <if test="invokeMinMaxNum != null">
                AND INVOKE_MIN_MAX_NUM = #{invokeMinMaxNum}
            </if>
            <if test="invokeDayMaxNum != null">
                AND INVOKE_DAY_MAX_NUM = #{invokeDayMaxNum}
            </if>
            <if test="authLevel != null">
                AND AUTH_LEVEL = #{authLevel}
            </if>
            <if test="isUpdated != null">
                AND IS_UPDATED = #{isUpdated}
            </if>
            <if test="xmlResult != null">
                AND XML_RESULT = #{xmlResult}
            </if>
            <if test="jsonResult != null">
                AND JSON_RESULT = #{jsonResult}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime}
            </if>
            <if test="updateBy != null">
                AND UPDATE_BY = #{updateBy}
            </if>
            <if test="createBy != null">
                AND CREATE_BY = #{createBy}
            </if>
            <if test="isExtras != null">
                AND IS_EXTRAS = #{isExtras}
            </if>
            <if test="isOpen != null">
                AND IS_OPEN = #{isOpen}
            </if>
        </where>
    </select>

    <select id="getListByModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodModel"
            resultMap="OoApiMethodBaseResult">
        SELECT
        ID,METHOD_TYPE,METHOD,METHOD_NAME,METHOD_MEMO,INVOKE_MIN_MAX_NUM,INVOKE_DAY_MAX_NUM,AUTH_LEVEL,IS_UPDATED,XML_RESULT,JSON_RESULT,CREATE_TIME,UPDATE_TIME,UPDATE_BY,CREATE_BY,IS_EXTRAS,IS_OPEN
        FROM API_METHOD
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="methodType != null">
                AND METHOD_TYPE = #{methodType}
            </if>
            <if test="method != null">
                AND METHOD = #{method}
            </if>
            <if test="methodName != null">
                AND METHOD_NAME = #{methodName}
            </if>
            <if test="methodMemo != null">
                AND METHOD_MEMO = #{methodMemo}
            </if>
            <if test="invokeMinMaxNum != null">
                AND INVOKE_MIN_MAX_NUM = #{invokeMinMaxNum}
            </if>
            <if test="invokeDayMaxNum != null">
                AND INVOKE_DAY_MAX_NUM = #{invokeDayMaxNum}
            </if>
            <if test="authLevel != null">
                AND AUTH_LEVEL = #{authLevel}
            </if>
            <if test="isUpdated != null">
                AND IS_UPDATED = #{isUpdated}
            </if>
            <if test="xmlResult != null">
                AND XML_RESULT = #{xmlResult}
            </if>
            <if test="jsonResult != null">
                AND JSON_RESULT = #{jsonResult}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime}
            </if>
            <if test="updateBy != null">
                AND UPDATE_BY = #{updateBy}
            </if>
            <if test="createBy != null">
                AND CREATE_BY = #{createBy}
            </if>
            <if test="isExtras != null">
                AND IS_EXTRAS = #{isExtras}
            </if>
            <if test="isOpen != null">
                AND IS_OPEN = #{isOpen}
            </if>
        </where>
    </select>

    <insert id="insertModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodModel">
        INSERT INTO API_METHOD(
        ID,
        METHOD_TYPE,
        METHOD,
        METHOD_NAME,
        METHOD_MEMO,
        INVOKE_MIN_MAX_NUM,
        INVOKE_DAY_MAX_NUM,
        AUTH_LEVEL,
        IS_UPDATED,
        XML_RESULT,
        JSON_RESULT,
        CREATE_TIME,
        UPDATE_TIME,
        UPDATE_BY,
        CREATE_BY,
        IS_EXTRAS,
        IS_OPEN
        ) VALUES (
        #{id},
        #{methodType},
        #{method},
        #{methodName},
        #{methodMemo},
        #{invokeMinMaxNum},
        #{invokeDayMaxNum},
        #{authLevel},
        #{isUpdated},
        #{xmlResult},
        #{jsonResult},
        #{createTime},
        #{updateTime},
        #{updateBy},
        #{createBy},
        #{isExtras},
        #{isOpen}
        )
    </insert>
    <insert id="addModel" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodModel"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO API_METHOD(
        METHOD_TYPE,
        METHOD,
        METHOD_NAME,
        METHOD_MEMO,
        INVOKE_MIN_MAX_NUM,
        INVOKE_DAY_MAX_NUM,
        AUTH_LEVEL,
        IS_UPDATED,
        CREATE_TIME,
        IS_EXTRAS,
        IS_OPEN
        ) VALUES (
        #{methodType},
        #{method},
        #{methodName},
        #{methodMemo},
        500,
        500000,
        #{authLevel},
        0,
        now(),
        0,
        1
        )
    </insert>
    <update id="updateModelById" parameterType="com.eason.transfer.openapi.core.api.dao.model.OoApiMethodModel">
        UPDATE
        API_METHOD
        <set>
            <if test="methodType != null">
                METHOD_TYPE = #{methodType},
            </if>
            <if test="method != null">
                METHOD = #{method},
            </if>
            <if test="methodName != null">
                METHOD_NAME = #{methodName},
            </if>
            <if test="methodMemo != null">
                METHOD_MEMO = #{methodMemo},
            </if>
            <if test="invokeMinMaxNum != null">
                INVOKE_MIN_MAX_NUM = #{invokeMinMaxNum},
            </if>
            <if test="invokeDayMaxNum != null">
                INVOKE_DAY_MAX_NUM = #{invokeDayMaxNum},
            </if>
            <if test="authLevel != null">
                AUTH_LEVEL = #{authLevel},
            </if>
            <if test="isUpdated != null">
                IS_UPDATED = #{isUpdated},
            </if>
            <if test="xmlResult != null">
                XML_RESULT = #{xmlResult},
            </if>
            <if test="jsonResult != null">
                JSON_RESULT = #{jsonResult},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy},
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy},
            </if>
            <if test="isExtras != null">
                IS_EXTRAS = #{isExtras},
            </if>
            <if test="isOpen != null">
                IS_OPEN = #{isOpen}
            </if>
        </set>
        WHERE
        ID = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM API_METHOD WHERE ID = #{id}
    </delete>

</mapper>