<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eason.transfer.openapi.core.api.dao.mapper.OoUserTokenInfoMapper">


	<resultMap type="com.eason.transfer.openapi.core.api.dao.model.UserTokenInfo" id="UserTokenInfoResult">
		<id column="ID" property="id"/>  
        <result column="USER_ID" property="userId"/>  
		<result column="TOKEN" property="token"/> 
		<result column="PHONE" property="phone"/> 
		<result column="EXPIRY_DATE" property="expiryDate"/> 
		<result column="UPDATE_TIME" property="updateTime"/> 
	</resultMap>


	<select id="getUserTokenInfoByToken" parameterType="String"  resultMap="UserTokenInfoResult">
		select 
			ID, USER_ID, TOKEN, EXPIRY_DATE
		from 
			USER_TOKEN_INFO
		where 
			TOKEN = #{token}
			
	</select>
	
	<!--新增TOKEN和电话信息  -->
	<insert id="insertUserToken" parameterType="com.eason.transfer.openapi.core.api.dao.model.UserTokenInfo">
		INSERT INTO USER_TOKEN_INFO(
				USER_ID,
				TOKEN,
				PHONE,
				CREATE_TIME,
				CREATE_BY,
				UPDATE_TIME
			) VALUES ( 
				#{userId},
				#{token},
				#{phone},
				now(),
				#{userId},
				now()
			)
	</insert>
	
	<update id="updateToken" parameterType="com.eason.transfer.openapi.core.api.dao.model.UserTokenInfo" >
	    UPDATE USER_TOKEN_INFO SET TOKEN = #{token}, PHONE =#{phone},UPDATE_TIME=now()
	    WHERE
	    USER_ID = #{userId}
	</update>
	
	<!-- 获取最后登录时间 -->
	<select id="getLoginDateByUserId" parameterType="String" resultType="java.util.Date" >
		select 
			UPDATE_TIME
		from 
			USER_TOKEN_INFO
		where 
			USER_ID = #{userId}
			
	</select>




</mapper>
