<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eason.transfer.openapi.user.api.app.dao.mapper.GiftMapper">
  <resultMap id="BaseResultMap" type="com.eason.transfer.openapi.user.api.app.dao.entity.GiftPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gift_name" jdbcType="VARCHAR" property="giftName" />
    <result column="gift_lmg" jdbcType="VARCHAR" property="giftImg" />
    <result column="gift_price" jdbcType="DECIMAL" property="giftPrice" />
    <result column="specialStyle" jdbcType="VARCHAR" property="specialStyle" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id,gift_name,gift_lmg,gift_price,specialStyle
  </sql>

  <insert id="insertGift" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.GiftPo">
    insert into t_zb_room_gift (gift_name,gift_lmg,gift_price,specialStyle)
    values (#{giftName,jdbcType=VARCHAR}, #{giftImg,jdbcType=VARCHAR}, #{giftPrice,jdbcType=DECIMAL},
    #{specialStyle,jdbcType=VARCHAR})
  </insert>

</mapper>