<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eason.transfer.openapi.user.api.app.dao.mapper.UserCodePoMapper">

	<!--新增验证码 -->
	<insert  id="insertUserCode" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `user_validation_code` (
		  `user_id`,
		  `code`,
		  `type`,
		  `send_time`,
		  `phone`,
		  `mac`,
		  `state`,
		  `update_time`
		)
		VALUES
		  (
		    #{userId},
		    #{code},
		    #{type},
		    #{sendTime},
		    #{phone},
		    #{mac},
		    #{state},
		    now()
		  )
	</insert>

	<!--根据主键获取验证码 -->
	<select id="getUserCodeByModel" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo" resultType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo">
		select
		  `id`,
		  `user_id` as userId,
		  `code`,
		  `type`,
		  `send_time` as sendTime,
		  `phone`,
		  `mac`,
		  `state`,
		  `update_time` as updateTime
		from user_validation_code
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="code != null">
				and code = #{code}
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
			<if test="sendTime != null">
				and send_time = #{sendTime}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
		</where>
	</select>

	<!-- 根据主键更新验证码 -->
	<update id="updateUserCodeByPhone" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo">
		update 	user_validation_code
		set
			<if test="code != null">
				code = #{code},
			</if>
			<if test="type != null and type !=''">
				type = #{type},
			</if>
			<if test="sendTime != null">
				send_time = #{sendTime},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="state != null">
				state = #{state}
			</if>
		where id = #{id}
	</update>

	<update id="updateModelById" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo">
		UPDATE
			user_validation_code
		<set>
			<if test="userId != null">
				USER_ID = #{userId},
			</if>
			<if test="code != null">
				CODE = #{code},
			</if>
			<if test="type != null">
				TYPE = #{type},
			</if>
			<if test="sendTime != null">
				SEND_TIME = #{sendTime},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime},
			</if>
			<if test="phone != null">
				PHONE = #{phone},
			</if>
			<if test="state != null">
				STATE = #{state},
			</if>
			<if test="mac != null">
				MAC = #{mac}
			</if>
		</set>
		WHERE
			ID = #{id}
	</update>

	<!-- 获取用户当日发送验证码的次数(重置密码) -->
	<select id="getCountForDay" resultType="int" parameterType="java.util.HashMap">
	   select count(1) from user_validation_code where phone = #{phone} and send_time >=#{daytime} and type = #{type}
	</select>
	<!-- 获取用户发送验证码的总次数 -->
	<select id="getTotalCount" parameterType="String" resultType="int">
	   select count(1) from user_validation_code where phone = #{phone} and type = #{type}
	</select>
	<!-- 根据用户手机查询最后3次发送验证码的时间 -->
	<select id="getTimeListTime" parameterType="java.util.HashMap" resultType="java.util.Date">
	   select send_time as sendTime from user_validation_code where phone = #{phone} and type = #{type} order by send_time  desc limit 3;
	</select>
	<!-- 根据一个mac获取其发送验证码的次数 -->
	<select id="getCountForMac" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo" resultType="int">
	   select count(1) from user_validation_code where mac = #{mac} and type = #{type}
	</select>
	<!-- 根据用户手机查询最后一次发送的验证码 -->
	<select id="findLastCode" parameterType="java.util.HashMap" resultType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo">
		select
		  `id`,
		  `user_id` as userId,
		  `code`,
		  `type`,
		  `send_time` as sendTime,
		  `phone`,
		  `mac`,
		  `state`,
		  `update_time` as updateTime
		from user_validation_code
		<where>
			1=1
			<if test="phone != null">
				AND phone = #{phone}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
		</where>
		order by send_time  desc limit 1;
	</select>

	<!-- 获取最新手机号修改验证码 -->
	<select id="getNewPhoneUpCode" parameterType="String" resultType="String">
		select code from user_validation_code where phone = #{phone} and type = 3 order by send_time  desc limit 1;
	</select>

	<!--获取当日获取手机号修改验证码次数 -->
	<select id="getPhoneChangeCount" parameterType="String" resultType="int">
		select count(1) from user_validation_code where phone = #{phone} and type = 3 and date(send_time) = CURDATE() ;
	</select>

	<select id="getListByModel" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo" resultType="com.eason.transfer.openapi.user.api.app.dao.entity.UserCodePo">
		SELECT ID,USER_ID,CODE,TYPE,SEND_TIME,PHONE,MAC,STATE,UPDATE_TIME
		FROM user_validation_code
		<where>
			<if test="id != null">
				AND ID = #{id}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId}
			</if>
			<if test="code != null">
				AND CODE = #{code}
			</if>
			<if test="type != null">
				AND TYPE = #{type}
			</if>
			<if test="sendTime != null">
				AND SEND_TIME = #{sendTime}
			</if>
			<if test="phone != null">
				AND PHONE = #{phone}
			</if>
			<if test="mac != null">
				AND MAC = #{mac}
			</if>
			<if test="timeNumber != null">
				AND SEND_TIME >= (SELECT DATE_SUB(NOW(),INTERVAL #{timeNumber} HOUR)) ORDER BY SEND_TIME DESC
			</if>
		</where>	
	</select>
</mapper>