<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eason.transfer.openapi.user.api.app.dao.mapper.VerifyCodeLogMapper">

	<resultMap id="UserVerifyCodeBaseResult" type="com.eason.transfer.openapi.user.api.app.dao.entity.VerifyCodeLogPo">
    	<result column="ID" property="id"/>
    	<result column="PHONE" property="phone"/>
    	<result column="VERTIME" property="verTime"/>
    	<result column="TRUECODE" property="trueCode"/>
    	<result column="ERRORCODE" property="errorCode"/>
    	<result column="VERRESULT" property="verResult"/>
    	<result column="TYPE" property="type"/>
	</resultMap>
	
	<!-- 请在此添加自定义方法（开始） -->
	<!-- fengchao 根据参数查询验证成功或失败的次数 -->
	<select id="selectCountVerFail" parameterType="java.util.HashMap" resultMap="UserVerifyCodeBaseResult">
		select ID,PHONE,VERTIME,TRUECODE,ERRORCODE,VERRESULT,TYPE FROM  user_validation_code_log where VERRESULT = #{isSuccess} and TYPE = #{type} and PHONE = #{phone} order by VERTIME desc limit 10
	</select>
	
	<!-- 请在此添加自定义方法（结束） -->
	
	<select id="getObjectById" parameterType="Long" resultMap="UserVerifyCodeBaseResult" >
		SELECT ID,PHONE,VERTIME,TRUECODE,ERRORCODE,VERRESULT,TYPE FROM user_validation_code_log WHERE ID = #{id}
	</select>
	
	<select id="getObjectByModel" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.VerifyCodeLogPo" resultMap="UserVerifyCodeBaseResult" >
		SELECT ID,PHONE,VERTIME,TRUECODE,ERRORCODE,VERRESULT,TYPE
		FROM user_validation_code_log 
		<where>
			<if test="id != null">
				AND ID = #{id}
			</if>
			<if test="phone != null">
				AND PHONE = #{phone}
			</if>
			<if test="verTime != null">
				AND VERTIME = #{verTime}
			</if>
			<if test="trueCode != null">
				AND TRUECODE = #{trueCode}
			</if>
			<if test="errorCode != null">
				AND ERRORCODE = #{errorCode}
			</if>
			<if test="verResult != null">
				AND VERRESULT = #{verResult}
			</if>
			<if test="type != null">
				AND TYPE = #{type}
			</if>
		</where>	
	</select>
	
	<select id="getListByModel" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.VerifyCodeLogPo" resultMap="UserVerifyCodeBaseResult" >
		SELECT ID,PHONE,VERTIME,TRUECODE,ERRORCODE,VERRESULT,TYPE
		FROM user_validation_code_log 
		<where>
			<if test="id != null">
				AND ID = #{id}
			</if>
			<if test="phone != null">
				AND PHONE = #{phone}
			</if>
			<if test="verTime != null">
				AND VERTIME = #{verTime}
			</if>
			<if test="trueCode != null">
				AND TRUECODE = #{trueCode}
			</if>
			<if test="errorCode != null">
				AND ERRORCODE = #{errorCode}
			</if>
			<if test="verResult != null">
				AND VERRESULT = #{verResult}
			</if>
			<if test="type != null">
				AND TYPE = #{type}
			</if>
		</where>	
	</select>
	
	<insert id="insertModel" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.VerifyCodeLogPo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_validation_code_log(
				PHONE,
				VERTIME,
				TRUECODE,
				ERRORCODE,
				VERRESULT,
				TYPE
			) VALUES ( 
				#{phone},
				#{verTime},
				#{trueCode},
				#{errorCode},
				#{verResult},
				#{type}
			)
	</insert>

	<update id="updateModelById" parameterType="com.eason.transfer.openapi.user.api.app.dao.entity.VerifyCodeLogPo">
		UPDATE 
			user_validation_code_log
		<set>
			<if test="phone != null">
				PHONE = #{phone},
			</if>
			<if test="verTime != null">
				VERTIME = #{verTime},
			</if>
			<if test="trueCode != null">
				TRUECODE = #{trueCode},
			</if>
			<if test="errorCode != null">
				ERRORCODE = #{errorCode},
			</if>
			<if test="verResult != null">
				VERRESULT = #{verResult},
			</if>
			<if test="type != null">
				TYPE = #{type}
			</if>
		</set>
		WHERE 
			ID = #{id}
	</update>

	<delete id="deleteById" parameterType="Long" >
		DELETE FROM user_validation_code_log WHERE ID = #{id}
	</delete>
	
</mapper>